@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("../public/fonts/AppleSDGothicNeoL.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("../public/fonts/AppleSDGothicNeoM.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("../public/fonts/AppleSDGothicNeoB.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("../public/fonts/AppleSDGothicNeoEB.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "AppleSDGothicNeo";
  src: url("../public/fonts/AppleSDGothicNeoH.woff2") format("woff2");
  font-weight: 900;
}
* {
  font-family: "AppleSDGothicNeo";
  font-weight: 500;
}
